:root {
  --primary-color: #2a6259;
  --dark-grey: #2b2b2b;
  --light-grey: #d3d3d3;
  --visited-color: black;
  --active-color: black;
  --background-color: #6497b1;
}

a {
  color: var(--primary-color);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-color);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

.logo {
  width: 100px;
  flex: 0 1 100px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 125px;
  margin-top: 20px;
  padding: 20px;
}

.grid__item {
  background-color: var(--light-grey);
  padding: 20px;
  width: auto;
  box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.3);
}

.contact {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
